
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Logo</a>
     <a href="/#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Team</a>
     <a href="/#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Project Focus</a>
     <a href="/#pricing" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Resources</a>
     <a href="/#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
     <a href="/data" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Interact with our Data</a>
       <div class="w3-dropdown-hover w3-hide-small">
       <a href="/results">
        <button href="/results" class="w3-button" title="Notifications">Results<i class="fa fa-caret-down"></i></button>     
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
          <a href="/results#ttest" class="w3-bar-item w3-button">TTests</a>
          <a href="/results#machine_learning" class="w3-bar-item w3-button">Machine Learning</a>
          <a href="/results#conclusions" class="w3-bar-item w3-button">Conclusions</a>
          <a href="/results#future" class="w3-bar-item w3-button">Further Research</a>
        </a>
       </div>
     </div>
     <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
    </div>
   
     <!-- Navbar on small screens -->
     <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
       <a href="#team" class="w3-bar-item w3-button">Team</a>
       <a href="#work" class="w3-bar-item w3-button">Project Focus</a>
       <a href="#pricing" class="w3-bar-item w3-button">Resources</a>
       <a href="#contact" class="w3-bar-item w3-button">Contact</a>
       <a href="#" class="w3-bar-item w3-button">Search</a>
     </div>
   </div>
   

{% block content %}

{% endblock %}}